body, header {
    margin: 0;
    padding: 0;
}

#basel {
    width: 90px; 
    height: auto; 
    display: block; 
    margin-top: 40px; /* Vielleicht auch besser mit Prozent */
    margin-left: 3%;
}

.center-logo{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 30vh; 
    margin-top: 10%;
}

#logo {
    width: 400px;
    height: auto;
    display: block;
}

.text-center {
    text-align: center; 
    margin-top: 35px;  
    font-size: 22px;  
    color: #4A4A49;
    font-family: 'Roboto', sans-serif;
    max-width: 800px; 
    margin: 20px auto; 
    padding: 0 20px; 
}

.footer {
    background-color: #E8E0CC; 
    color: white; 
    text-align: center; 
    padding: 30px 0; 
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.footer p {
    margin: 10px 0; 
}