/*----------------------------------------------- HEADER START -----------------------------------------------*/
body, header {
    margin: 0;
    padding: 0;
}

#basel {
    width: 90px; 
    height: auto; 
    display: block; 
    margin-top: 40px; 
    margin-left: 3%;
}
/*----------------------------------------------- HEADER ENDE -----------------------------------------------*/
/*----------------------------------------------- LOGO START -----------------------------------------------*/
.center-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10; 
    margin-top: 150px; 
}

#logo {
    width: 380px;
    height: auto;
}
/*----------------------------------------------- LOGO ENDE -----------------------------------------------*/
/*----------------------------------------------- AUTO START -----------------------------------------------*/
.auto-gif {
    width: 100%;
    position: absolute;
    top: 385px;
    overflow: hidden; 
    z-index: 5;
}

.auto-gif img {
    width: 100%;
}
/*----------------------------------------------- AUTO ENDE -----------------------------------------------*/
/*----------------------------------------------- TEXT START -----------------------------------------------*/
.text-center {
    text-align: center;
    font-size: 20px;
    color: #4A4A49;
    font-family: 'Roboto', sans-serif;
    width: 60%;
    margin: 0px auto 20px;
}
/*----------------------------------------------- TEXT ENDE -----------------------------------------------*/
/*----------------------------------------------- BLAUE STRASSE START -----------------------------------------------*/
.road img {
    width: 100%;   
    height: auto;       
    object-fit: contain;  
    display: block; 
    margin-bottom: -5px; 
    margin-top: 50px;
}

.blue {
    background-color: #49718A; 
    width: 100%; 
    height: 700px; 
    display: block;
}
/*----------------------------------------------- BLAUE STRASSE ENDE -----------------------------------------------*/
/*----------------------------------------------- DATEN TEILEN START -----------------------------------------------*/
.buttons {
    display: flex;
    justify-content: center;}

  button {
        background-color: #49718A;
        height: 50px;
        min-width: 100px;   
        border-radius: 10px;
        color: #E8E0CC;
        margin-right: 20px;
        font-size: 15px;
        border-width: 3px;
        border-style: solid;
      }

#button_ph {
    border-color: #E8E0CC;
}

#button_m {
    border-color: #F2785C;
}

#button_w {
    border-color: #FA8C99;  
}

#button_h {
    border-color: #F2BA5C;  
}

    button:hover {
            background-color: #82A1B5;
    }   

    button:active {
            border-color: #8FC1E1;
            color: #49718A;
    }   
    
/*----------------------------------------------- DATEN TEILEN ENDE -----------------------------------------------*/
/*----------------------------------------------- FOOTER START -----------------------------------------------*/
.footer {
    background-color: #E8E0CC; 
    color: #4A4A49; 
    text-align: center; 
    padding: 30px 0; 
    position: relative; 
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.footer p {
    margin: 10px 0; 
}
/*----------------------------------------------- FOOTER ENDE -----------------------------------------------*/




/*----------------------------------------------- RESPONSIVE START -----------------------------------------------*/
@media (max-width: 1200px) {
    .auto-gif img{
        width: 105%;
    }
    .auto-gif{
        top: 400px;
    }
  }

@media (max-width: 992px) {
    .auto-gif img {
        width: 120%;
        top: 400px;
    }

    button { 
        border-width: 2px;
        height: 40px;        
        min-width: 80px;     
        font-size: 13px;      
        margin-right: 10px; 
      }
  }

@media (max-width: 768px) {

    #basel {
        width: 80px; 
        margin-top: 30px; 
    }

    .center-logo {
        margin-top: 100px; 
    }

    #logo {
        width: 320px;
    }

    .auto-gif img{
        width: 150%;
    }

    .auto-gif {
        top: 305px;
    }

    .text-center {
        font-size: 18px;
        /*width: 70%;*/
    }
  }

@media (max-width: 576px) {

    #basel {
        width: 60px; 
        margin-top: 20px; 
    }

    .center-logo {
        margin-top: 50px; 
    }

    #logo {
        width: 230px;
    }

    .auto-gif img {
        width: 180%;
    }

    .auto-gif {
        top: 180px;
    }

    .text-center {
        font-size: 14px;
        /*width: 80%;*/
    }

    .road img {
        margin-top: 30px;
    }

    button { 
        border-width: 2px;
        height: 30px;         
        min-width: 60px;      
        font-size: 12px;      
        margin-right: 5px;    
      }

    .footer {
        font-size: 12px;
    }

    @media (max-width: 540px){
        .auto-gif {
            top: 187px;
        }
    }

    @media (max-width: 510px){
        .auto-gif {
            top: 190px;
        }
    }

    @media (max-width: 400px){
        .auto-gif {
            top: 200px;
        }
    }

  }

/*----------------------------------------------- RESPONSIVE ENDE -----------------------------------------------*/